

body {
    background-color: black;
    color: aquamarine;
    font-family: sans-serif;
}

/* .form-grid {
    display: grid;
} */

image {
    width: 100%;
    height: 100%;
    float: unset;
}

form {
    margin: 1rem auto;
    font-family: sans-serif;
    text-align: left;
}



